<!DOCTYPE html>
<html>
<head>
    <title> YARMA </title>
</head>
<body>
<div>
    <div>
        <div>
            <div>
                <h1>Welcome to Yet Another Reactive Movie Application</h1>
                <p> Here you can find your favourite Movies </p>
                <div>
                    <form action="/movies" method="get">
                        <input type="text" name="name" placeholder="Search a Movie:"
                               required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
